body * {
    
}

.everything-container {
    display: flex;
    flex-direction: row;

    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

    margin-top: 4vh;
    margin-left: -8px;

    width: 100vw;
}

.everything-container .leftside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: end;
    min-width: calc((100vw - 512px) / 2);

    margin-right: 32px;
}

.everything-container .rightside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: start;
    min-width: calc((100vw - 512px) / 2);

    margin-left: 32px;
}

.everything-container .middle {
    min-width: 512px;
    max-width: 512px;

    display: flex;
    flex-direction: column;
}

.display-canvas {
    color: #aaa;

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 512px;
    width: 512px;

    margin-bottom: 0px;
    margin-top: 0px;

    border: 2px solid white;
}

.speed-controls {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: 16px;
}

.speed-controls .buttons {
    display: flex;
    justify-content: center;
    
    margin-top: 8px;
    margin-bottom: 8px;
}

.button {
    height: 24px;
    width: 24px;

    border: 1px solid lightgray;
    color: lightgray;
    background-color: dimgray;

    user-select: none;
}

.button:hover {
    background-color: #aaa;
}

.button:active {
    background-color: #444;
}

.speed-control {
    color: white;

    align-content: center;
    text-align: center;
}

.speed-controls p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.speed-control.label {
    margin-left: 32px;
    margin-right: 32px;
}

#speed_display {
    width: 128px;

    user-select: none;
}

.grey {
    color: gray;
}