body {
    margin: 0;
}

.template, .nodisplay {
    display: none !important;
}

p {
    margin: 0;
}

.inventory-container {
    user-select: none;
}

.window {
    position: absolute;

    top: 16px;
    left: 16px;

    --col1: "#353";
    --col2: "#333";

    background-color: #111;
    color: white;

    border: 1px solid white;

    border-bottom: 2px solid white;
}

.window .window-content {
    padding: 8px;
}

.window .window-topbar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    align-items: center;

    background: linear-gradient(45deg, var(--col1), var(--col2) 80%);

    border-bottom: 1px solid white;

    padding-left: 8px;

    min-width: 256px;

    user-select: none;
}

.window .window-title {
    font-weight: bold;
    
    color: white;

    padding-right: 16px;
}

.window.minimised {
    opacity: 0.5;
    transition: opacity 0.3s;

    border-bottom: 1px solid white;
}

.window.minimised:hover {
    opacity: 1;
}

.window.minimised .window-content {
    display: none;
}

.window .controlbuttons img {
    margin: 2px;
    padding: 4px;

    width: 16px;
    height: 16px;

    border: 1px solid white;
    background-color: #222;
}

.window .controlbuttons .minimise {
    background-color: #069;
}

.window .controlbuttons .minimise:hover {
    background-color: #09d;
}

.window .controlbuttons .minimise:active {
    background-color: #037;
}

.flex-rows {
    display: flex;
    flex-direction: column;
}

.flex-cols {
    display: flex;
    flex-direction: row;
}

.game-supercontainer {
    display: flex;
    flex-direction: row;

    --canvas-h: calc(100vh - 4px);

    height: 100vh;
    width: 100vw;
}

.game-container {
    flex-grow: 1;

    display: grid;

    width: 100%;
    height: var(--canvas-h);

    border: 2px solid white;
}

.game-container canvas {
    position: unset;

    grid-column: 1;
    grid-row: 1;

    width: 100%;
    height: var(--canvas-h);

    border: unset;
}

.sidebar-ui {
    color: white;

    --w: calc(660px - 32px - 2px);

    min-width: var(--w);
    max-width: var(--w);

    background: #222;
    border: 2px solid white;
    border-left: none;

    /* padding: 16px; */

    display: flex;
    flex-direction: column;
}

.currencies-bar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 16px;
}

.currencies-bar span {
    text-align: center;
    flex-grow: 1;
}

.select-bar {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    justify-content: space-between;

    border-top: 1px solid white;

    margin-bottom: 16px;
}

.select-bar>span {
    background-color: #333;
    padding-top: 8px;
    padding-bottom: 8px;
    
    border-bottom: 1px solid white;

    display: flex;
    justify-content: center;
}

.select-bar>span:hover {
    background-color: #777;
}

.select-bar>span:active {
    background-color: #111;
}

.select-bar>span.selected {
    background-color: unset;
    padding-top: 7px;
    padding-bottom: 8px;
    
    border-bottom: unset;

    --accent-col: gray;
    border-top: 1px solid var(--accent-col);
}

.select-bar>span.selected.upgrades {
    --accent-col: goldenrod;
}

.select-bar>span.selected.inventory {
    --accent-col: green;
}

.select-bar>span.selected.powercubes {
    --accent-col: lightcoral;
}

.select-bar>span.selected:not(:first-child) {
    border-left: 1px solid white;
    border-right: 1px solid transparent;
}

.select-bar>span.selected:not(:last-child) {
    border-right: 1px solid white;
    border-left: 1px solid transparent;
}

.select-bar>span.selected:not(:last-child):not(:first-child) {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.sidebar-menu-content {
    padding-left: 16px;
    padding-right: 16px;
}

.sidebar-menu-content>div {
    display: none;
}

.sidebar-menu-content>div.active {
    display: unset;
}

.select-bar>span {
    text-align: center;
    flex-grow: 1;
}

.tile-hp-container, .tile-armour-container, .inventory-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-richnesses-container {
    display: flex;
    flex-direction: column;
}

.inventory-view {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inventory-item .item-name {
    --textcol: white;
    --bordercol: #222;

    color: var(--textcol);
    text-shadow: -1px -1px 0 var(--bordercol), 1px -1px 0 var(--bordercol), -1px 1px 0 var(--bordercol), 1px 1px 0 var(--bordercol);
}

.inv-actionbuttons {
    margin-left: auto;
    width: min-content;
    flex-wrap: nowrap;
    display: flex;
    text-wrap: nowrap;
}

.inline-button {
    border: 1px solid white;
    background-color: #060;

    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;

    margin-left: 8px;

    cursor: pointer;

    align-self: center;
}

.inline-button:hover {
    background-color: #0a0;
}

.inline-button:active {
    background-color: #030;
}

.inline-button.disabled {
    cursor: default;
    background-color: #222;
}

.spacer {
    width: 16px;
}

.upgrade-infobox {
    flex-basis: 50%;
}

.upgrade-buttons {
    flex-grow: 1;
}

.upgrade-num-owned {
    max-width: 64px;
}

.upgrade-item {
    gap: 32px;
    margin-bottom: 16px;
}

.upgrade-item>* {
    flex-grow: 1;
}

.upgrade-basic-info {
    justify-content: space-between;
}

.upgrade-num-owned {
    align-self: center;
}

.upgrade-buttons {
    justify-content: flex-end;

    text-wrap: nowrap;
}

.upgrademax {
    min-width: 144px;
    max-width: 144px;
}

.upgrade-num-owned {
    text-align: center;

    min-width: 64px;
    max-width: 64px;
}

.upgrade-cost {
    color: gold;
}

.upgrade-cost-max {
    color: lime;
}

.upgrade-name {
    color: cyan;
}

.upgrade-desc {
    color: gray;
}

.upgrade-num-owned {
    color: orange;
}

.helptext {
    width: 512px;
    height: auto;

    display: flex;
    flex-direction: column;

    /* font-size: 12px; */

    gap: 12px;

    color: #cfc;

    margin-top: auto;
}

.help-important {
    color: #0df;
}

.player-stats-view {
    display: flex;
    flex-direction: column;
}

.player-stats-entry {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.pickicon {
    align-items: center;
}

.pickicon {
    font-size: 14px;
}

.pickicon img {
    border: 1px solid white;
    padding: 4px;
    margin-right: 8px;
}

.pickicon input {
    display: inline;
    width: min-content;
}

.player-stats-icon {
    width: 64px;
    height: 64px;
}

.shaking-text {
    display: inline-block;
}

.shaking-text span {
    display: inline-block;
}

.ascend-text {
    font-size: 22px;
    --shadowcol: #a77;

    text-shadow: 1px 1px 3px var(--shadowcol), -1px 1px 3px var(--shadowcol), 1px -1px 3px var(--shadowcol), -1px -1px 3px var(--shadowcol);
}

.ascend-button {
    cursor: pointer;

    background-color: #400;
    text-align: center;
    border: 2px solid #944;

    padding-top: 16px;
    padding-bottom: 16px;
}

.ascend-button:hover {
    background-color: #722;
    border: 2px solid #a55;
}

.ascend-button:active {
    background-color: #200;
    border: 2px solid #733;
}

.ascend-button.disabled {
    cursor: default;

    background-color: #222;
    border: 2px solid #888;
}

.ascend-button .ascend-text.disabled {
    color: #999;
    --shadowcol: #444;
}

.powercubes-projected-gain {
    font-size: 22px;

    background-color: #833;
    border: 1px solid #b55;
    padding: 2px;

    margin-left: 12px;
}

.powercubes-projected-gain-mini {
    font-size: 12px;

    flex-grow: 0;

    background-color: #833;
    border: 1px solid #b55;

    padding: 2px;

    margin-left: 12px;
    margin-bottom: auto;
    margin-top: auto;
}

.powercubes-infotext {
    margin-top: 8px;
}

.infotext {
    font-size: 14px;
    color: #ddd;
}

.powercubes-upgrades-container {
    margin-top: 24px;
}

.powercubes-choices-container {
    display: flex;
    flex-direction: column;
}

.powercubes-choices {
    margin-top: 24px;
}

.powercubes-choice {
    display: flex;
    flex-direction: row;
    
    gap: 16px;
    margin-top: 16px;
}

@property --hmul {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@keyframes powercubes_choice_float {
  from {--hmul: 0}
  to {--hmul: 1}
}

.powercubes-choices .powercubes-choice-button {
    cursor: default;

    background-color: #400;
    border: 1px solid #a33;
    padding: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: 50%;
}

.powercubes-choices .powercubes-choice-button:not(.unselected) {
    --t: 2.5s;
    --idx: 0;
    --cnt_total: 2;

    animation: 2.5s ease-in-out calc(var(--t) * var(--idx) / var(--cnt_total)) powercubes_choice_float;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    --hmul: 0;
    --maxh: -8px;
    --minh: -4px;
    --diffh: calc(var(--maxh) - var(--minh));

    --hmod: calc(var(--minh) + (var(--diffh) * var(--hmul)));
    transform: translateY(var(--hmod));

    --shadowcol: rgba(32, 8, 8, 128);
    box-shadow: 0px calc(var(--hmod) * -1) 2px var(--shadowcol);
}

.powercubes-choices .powercubes-choice-button .choicename {
    font-size: 22px;
    margin-bottom: 8px;
    text-shadow:
    1px 1px 2px #666,
    -1px 1px 2px #666,
    1px -1px 2px #666,
    -1px -1px 2px #666;
}

.powercubes-choices .powercubes-choice-button .choicedesc {
    font-size: 14px;
    margin: auto;
    text-align: center;
}

.powercubes-choices .powercubes-choice-button.unselected {
    cursor: default;

    background-color: #333;
    border: 1px solid #ccc;

    opacity: 0.4;

    transform: unset;
}

.powercubes-choices .powercubes-choice-button.choice-available {
    cursor: pointer;

    background-color: #040;
    border: 1px solid #3a3;

    --shadowcol: rgba(8, 32, 8, 128);
}

.powercubes-choices .powercubes-choice-button.choice-available:hover {
    background-color: #070;
    border: 1px solid #5e5;
}

.powercubes-choices .powercubes-choice-button.choice-available:active {
    background-color: #020;
    border: 1px solid #191;

    transform: unset;
    box-shadow: unset;
}

.reset-powercubes-toggle {
    cursor: pointer;
    
    background-color: #400;
    border: 1px solid #a33;
    padding: 8px;
    text-align: center;

    margin-top: 16px;

    transform: translateY(-4px);
    box-shadow: 0px 4px 2px rgba(32, 8, 8, 128);
}

.reset-powercubes-toggle:hover {
    background-color: #700;
    border: 1px solid #e77;
}

.reset-powercubes-toggle:active {
    background-color: #200;
    border: 1px solid #822;

    transform: unset;
    box-shadow: unset;
}

.reset-powercubes-toggle.disabled {
    cursor: default;

    background-color: #333;
    border: 1px solid #ccc;

    opacity: 0.4;

    transform: unset;
    box-shadow: unset;
}

.powercubes-next-req {
    margin-top: 8px;
    text-align: center;

    color: #bbb;
}

.equipment-inventory-view {
    display: flex;
}

.equipment-inventory-items {
    min-width: 500px;
    max-width: 500px;

    min-height: 400px;
    max-height: 400px;

    overflow-y: auto;
    scrollbar-width: none;
}

.equipment-inventory-items::-webkit-scrollbar {
    display: none;
}

.equipment-inventory-selected-item {
    min-width: 300px;
    max-width: 300px;

    min-height: 100%;
    flex-grow: 1;

    border-left: 1px solid white;
}

.equipment-inventory-item {
    --maincol: white;
    --bgcol: white;

    border: 1px solid var(--maincol);

    min-width: 80px;
    max-width: 80px;
    aspect-ratio: 1/1;

    font-size: 14px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.equipment-inventory-item {
    background-color: var(--bgcol);
    opacity: 0.6;

    transition: opacity 0.15s ease-in-out;
}

.equipment-inventory-item:hover {
    opacity: 1;
}

.equipment-inventory-item.selected {
    opacity: 1;
}

.equipment-inventory-item .itemname {
    color: var(--maincol);
}

.equipment-inventory-item .item-icon {
    aspect-ratio: 1/1;
    min-width: 32px;
    max-width: 32px;

    margin-bottom: 4px;
}

.equipment-actionbuttons {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 8px;

    margin-top: auto;
}

.equipment-inventory-selected-item-info {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    gap: 8px;

    padding: 8px;
    padding-left: 16px;
}

.equipment-inventory-selected-item .item-bigicon {
    min-width: 64px;
    max-width: 64px;

    aspect-ratio: 1/1;

    padding: 8px;
    border: 1px solid white;

    margin-right: 8px;
}

.item-basic-info {
    margin-bottom: 8px;
}

.actionbuttons-subrow {
    width: 100%;
    gap: 16px;
}

.actionbuttons-subrow .inline-button {
    flex-basis: 100%;
    margin: 0;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.actionbuttons-subrow .inline-button:first-child {
    flex-grow: 0;
}

.equipment-inventory-selected-noitem {
    display: flex;

    justify-content: center;
    align-items: center;

    flex-grow: 1;
}

.useheader {
    background-color: #040;
    color: lime;
    margin-right: 8px;
}

.equip-item-quickslot1 {
    position: absolute;
    color: white;
}

.savebuttons {
    margin-top: 16px;

    display: flex;
    flex-direction: row;

    gap: 8px;
}

.savebuttons span {
    flex-basis: 100%;
    text-wrap: nowrap;
    text-align: center;
    margin: 0;
}

.reset-game {
    background-color: #600;
    color: #faa;
}

.reset-game:hover {
    background-color: #b33;
    color: #fdd;
}

.reset-game:active {
    background-color: #300;
    color: #d66;
}