body {
    margin: 0;
}

.template, .nodisplay {
    display: none !important;
}

p {
    margin: 0;
}

.window {
    position: absolute;

    top: 16px;
    left: 16px;

    --col1: "#353";
    --col2: "#333";

    background-color: #111;
    color: white;

    border: 1px solid white;

    border-bottom: 2px solid white;
}

.window .window-content {
    padding: 8px;
}

.window .window-topbar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    align-items: center;

    background: linear-gradient(45deg, var(--col1), var(--col2) 80%);

    border-bottom: 1px solid white;

    padding-left: 8px;

    min-width: 256px;

    user-select: none;
}

.window .window-title {
    font-weight: bold;
    
    color: white;

    padding-right: 16px;
}

.window.minimised {
    opacity: 0.5;
    transition: opacity 0.3s;

    border-bottom: 1px solid white;
}

.window.minimised:hover {
    opacity: 1;
}

.window.minimised .window-content {
    display: none;
}

.window .controlbuttons img {
    margin: 2px;
    padding: 4px;

    width: 16px;
    height: 16px;

    border: 1px solid white;
    background-color: #222;
}

.window .controlbuttons .minimise {
    background-color: #069;
}

.window .controlbuttons .minimise:hover {
    background-color: #09d;
}

.window .controlbuttons .minimise:active {
    background-color: #037;
}

.flex-rows {
    display: flex;
    flex-direction: column;
}

.flex-cols {
    display: flex;
    flex-direction: row;
}

.game-supercontainer {
    display: flex;
    flex-direction: row;

    --canvas-h: calc(100vh - 4px);

    height: 100vh;
    width: 100vw;
}

.game-container {
    flex-grow: 1;

    display: grid;

    width: 100%;
    height: var(--canvas-h);

    border: 2px solid white;
}

.game-container canvas {
    position: unset;

    grid-column: 1;
    grid-row: 1;

    width: 100%;
    height: var(--canvas-h);

    border: unset;
}

.sidebar-ui {
    color: white;

    --w: calc(660px - 32px - 2px);

    min-width: var(--w);
    max-width: var(--w);

    background: #222;
    border: 2px solid white;
    border-left: none;

    /* padding: 16px; */

    display: flex;
    flex-direction: column;
}

.currencies-bar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    padding: 16px;
}

.currencies-bar span {
    text-align: center;
    flex-grow: 1;
}

.select-bar {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    justify-content: space-between;

    border-top: 1px solid white;

    margin-bottom: 16px;
}

.select-bar span {
    background-color: #333;
    padding-top: 8px;
    padding-bottom: 8px;
    
    border-bottom: 1px solid white;
}

.select-bar span:hover {
    background-color: #777;
}

.select-bar span:active {
    background-color: #111;
}

.select-bar span.selected {
    background-color: unset;
    padding-top: 7px;
    padding-bottom: 8px;
    
    border-bottom: unset;

    --accent-col: gray;
    border-top: 1px solid var(--accent-col);
}

.select-bar span.selected.upgrades {
    --accent-col: goldenrod;
}

.select-bar span.selected.inventory {
    --accent-col: green;
}

.select-bar span.selected.powercubes {
    --accent-col: lightcoral;
}

.select-bar span.selected:not(:first-child) {
    border-left: 1px solid white;
    border-right: 1px solid transparent;
}

.select-bar span.selected:not(:last-child) {
    border-right: 1px solid white;
    border-left: 1px solid transparent;
}

.select-bar span.selected:not(:last-child):not(:first-child) {
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.sidebar-menu-content {
    padding-left: 16px;
    padding-right: 16px;
}

.sidebar-menu-content>div {
    display: none;
}

.sidebar-menu-content>div.active {
    display: unset;
}

.select-bar span {
    text-align: center;
    flex-grow: 1;
}

.tile-hp-container, .tile-armour-container, .inventory-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-richnesses-container {
    display: flex;
    flex-direction: column;
}

.inventory-view {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inv-actionbuttons {
    margin-left: auto;
    width: min-content;
    flex-wrap: nowrap;
    display: flex;
    text-wrap: nowrap;
}

.inline-button {
    border: 1px solid white;
    background-color: #040;

    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;

    margin-left: 8px;

    cursor: pointer;

    align-self: center;
}

.inline-button:hover {
    background-color: #080;
}

.inline-button:active {
    background-color: #020;
}

.inline-button.disabled {
    background-color: #222;
}

.spacer {
    width: 16px;
}

.upgrade-infobox {
    flex-basis: 50%;
}

.upgrade-buttons {
    flex-grow: 1;
}

.upgrade-num-owned {
    max-width: 64px;
}

.upgrade-item {
    gap: 32px;
    margin-bottom: 16px;
}

.upgrade-item>* {
    flex-grow: 1;
}

.upgrade-basic-info {
    justify-content: space-between;
}

.upgrade-num-owned {
    align-self: center;
}

.upgrade-buttons {
    justify-content: flex-end;

    text-wrap: nowrap;
}

.upgrademax {
    min-width: 144px;
    max-width: 144px;
}

.upgrade-num-owned {
    text-align: center;

    min-width: 64px;
    max-width: 64px;
}

.upgrade-cost {
    color: gold;
}

.upgrade-cost-max {
    color: lime;
}

.upgrade-name {
    color: cyan;
}

.upgrade-desc {
    color: gray;
}

.upgrade-num-owned {
    color: orange;
}

.helptext {
    width: 512px;
    height: auto;

    display: flex;
    flex-direction: column;

    /* font-size: 12px; */

    gap: 12px;

    color: #cfc;

    margin-top: auto;
}

.help-important {
    color: #0df;
}

.player-stats-view {
    display: flex;
    flex-direction: column;
}

.player-stats-entry {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}