@font-face {
    font-family: "nec_apc";
    src: url("Web437_NEC_APC3_8x16.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
 }

body {
    color: white;
    background-color: black;
    font-family: "nec_apc";
    overflow: hidden;
}

.console {
    position:absolute;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "nec_apc";
    font-size: 16px;
    font-weight: normal;
    top:0px;
    left:0px;
    text-align: left;
    text-decoration: none;
    white-space: pre;
    vertical-align: top;
}

.console_text {
    position: absolute;
    top: 10px;
    left: 10px;
}