body {
	background-color: black;
	font-family: Consolas;
	margin-left: 0px;
	color: #f2f2f2;
} 

img {
  border: 2px solid white;
  margin: 40px;
  width: 66%;
}

::selection {
	color: black;
	background: white;
}

p {
	font-size: 20px;
	margin-bottom: 0px;
}

.header {
	margin-left: 160px;
}

.desc { 
	font-style: italic;
	color: #ccc;
}

.huge {
	font-size: 72px;
	font-style: bold;
}

.main {
	text-align: center;
	margin-left: 0px;
}

.big {
	margin-top: 64px;
	font-size: 32px;
}

.big-alt {
	margin-top: 64px;
	font-size: 32px;
	color: #f9f1a5;
}

.classinfo {
	color: #fff;
}

.special {
	color: #f9f1a5;
}

a {
	font-size: 24px;
	color: #3a96dd;
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	text-decoration: underline;
	color: #61d6d6;
}

.column {
  float: left;
  width: 25%;
  padding-left: 6.25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}