@font-face {
    font-family: "ibm_vga";
    src: url("Web437_IBM_VGA_8x16.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "nec_apc";
    src: url("Web437_NEC_APC3_8x16.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "terminus";
    src: url("Terminus.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    touch-action: manipulation;
}

img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
	
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
	
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    border: 2px solid #fff;
}

.game-canvas {
    position: absolute;
}

body {
	overflow: hidden;
	width:100%;
	font-family: "MS Gothic", "nec_apc";
	background-color:#000;
	
	font-smooth: never;
	-webkit-font-smoothing:none;
}

.overlay {
    opacity:1;
    background-color:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.bottombar {
    position: fixed;
    bottom: 0px;
	left:0px;
    display:block;
    height: 128px;
    width: 100%;

	pointer-events: none;

	z-index: 10;

	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(0,0,0,0) 100%);
}

.bottombar a {
	pointer-events: all;
}

.topbar {
    position: fixed;
    top: 0px;
	left:0px;
    display:block;
    height: 64px;
    width: 100%;
	
	pointer-events: none;

	z-index: 10;

	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 66%, rgba(0,0,0,0) 100%);
}

.SKULL {
	position: absolute;
	top: calc(50% - 0px);
	left: 5%;
	margin-right: -50%;
	transform: translate(0%, -50%);

	z-index: 1000;

	height: 100%;

	pointer-events: none;
}

.game {
	position: absolute;
	top: calc(50% - 0px);
	left: 5%;
	margin-right: -50%;
	transform: translate(0%, -50%);
	
	color: #fff;
	
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
	
    justify-content: center;

	display: grid;

	--rowgap: 48px;
	--colgap: 96px;

	row-gap: var(--rowgap);
	column-gap: var(--colgap);
}

.wheel-grid-item {
	grid-column: 1;
	grid-row: 1;

	--imgsiz: 320px;

	width: var(--imgsiz);
	height: var(--imgsiz);

	position: relative;
}

.wheel-frame-front {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	border: 2px solid white;

	z-index: 2;

	pointer-events: none;
}

.wheel-wheel {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 1;
}

.ready-to-spin {
	filter: brightness(1.5);
}

.wheel-frame-back {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: 0;
}

.wheel-autospin-button {
	position: relative;
	z-index: 3;
	left: 16px;
	width: fit-content;

	padding: 4px 4px 4px 4px;

	border: 1px solid;
}

.active-button {
	filter: brightness(1);
}

.active-button:hover {
	filter: brightness(2.5);
}

.active-button:active {
	filter: brightness(0.75);
}

.bread-upgrade-tab-button {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: calc(8px + (100vh - (64px * 8) - 128px - 64px) / 2);

	height: 80px;
	width: 32px;

	border: 2px solid white;

	user-select: none;
}

.bread-upgrade-tab-button.collapsed {
	right: calc(-4px + 25%);

	background-color: #400;
	color:#f44;
}

.bread-upgrade-tab-button.expanded {
	right: calc(-3px + 25% + max(450px, 50%));

	background-color: #040;
	color:#4f4;
}

.bread-upgrades-list {
	position: absolute;
	right: calc(-3px + 25%);
	top: 8px;
	
	width: max(450px, 50%);
	height: 100%;

	background-color: #000;
	border: 1px solid #fff;

	z-index: 1;
}

.bread-upgrades-container {
	display: grid;
	padding-top: calc((100vh - (64px * 8) - 128px - 64px) / 2);
}

.bread-upgrade-top {
	border-top: 1px solid white;
}

.bread-upgrade {
	display: flex;
	align-items: center;

	--iconsiz: 80px;
	--fontsiz: 32px;
	height: var(--iconsiz);
	font-size: var(--fontsiz);

	border-bottom: 1px solid white;
}

.bread-upgrade-img {
	display: inline;

	height: 140%;
	filter: brightness(1) !important;
}

.bread-upgrade-info {
	flex-grow: 1;
	margin-right: 16px;
	margin-left: 16px;
}

.bread-upgrade-first {
	
}

.bread-upgrade-first > p {
	display: block;
}

.bread-upgrade-desc-text {
	font-size: 16px;

	color: white;
	text-align: left;

	margin-left: 0px;

	padding-right: 16px;
}

.bread-upgrade-currentstat-text {
	font-size: 16px;

	color: white;
	text-align: left;

	margin-left: 0px;
	padding-right: 16px;
}

.bread-upgrade-cost-button {
	user-select: none;

	display: flex;
	align-items: center;

	color: #666;
	width: 25%;
	height: 60%;

	margin-right: 16px;

	border: 2px solid;
}

.bread-upgrade-cost-text {
	font-size: 24px;
}

.affordable {
	color: #4d4;
}

.unaffordable {
	color: #d44;
}

.currencies-list {
	position: absolute;
	right: -4px;
	top: 8px;
	
	width: 25%;
	height: 100%;

	background-color: #000;
	border: 1px solid #fff;
}

.currency-container {
	display: grid;
	padding-top: calc((100vh - (64px * 8) - 128px - 64px) / 2);
}

.currency-item-top {
	border-top: 1px solid white;
}

.currency-item {
	display: flex;
	align-items: center;

	--iconsiz: 80px;
	--fontsiz: 32px;
	height: var(--iconsiz);
	font-size: var(--fontsiz);

	border-bottom: 1px solid white;
}

.currency-item-img {
	display: inline;
	padding-left: 24px;

	height: 100%;
}

.currency-item-text {
	display: inline;

	color: white;
	margin-left: 32px;
	padding-right: 32px;

	border-bottom: 1px solid white;
}

.currency-item-text-popup {
	color: #4d4;
	margin-left: auto;
	padding-right: 20px;
}

.currency-copy-button {
	font-size: 24px;
	margin-left: 32px;

	padding: 4px 4px 4px 4px;

	color: #4d4;
	border: 2px solid;
}

.closed {
	visibility: hidden;
}

.open {
	visibility: visible;
}

.wheel-autospin-button.green {
	background-color: #020;
}

.wheel-autospin-button.yellow {
	background-color: #220;
}

.wheel-autospin-button.red {
	background-color: #200;
}

a {
	position: fixed;
	bottom: 24px;
	left: 24px;
	
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s;
}

a:hover {
	text-decoration: underline;
	color: #fff;
}

.right-text {
	color: #0cf;
	position: absolute;
	font-size: 2.5vmin;
	bottom: 12px;
	right: 16px;
	text-align: right;
}

.left-text {
	color: #0cf;
	position: absolute;
	font-size: 2.5vmin;
	bottom: 12px;
	left: 16px;
	text-align: left;
}

.top-r-text {
	color: #0cf;
	position: absolute;
	font-size: 2.5vmin;
	right: 16px;
	text-align: right;
}

.top-text {
	color: #0cf;
	position: absolute;
	font-size: 2.5vmin;
}

.important {
	font-weight: bold;
	color: #8df;
}

.yellow {
	color: #dd4;
}

.green {
	color: #4d4;
}

.white {
	color: #fff;
}

.grey {
	color: #888;
}

.red {
	color: #f44;
}

.red > span {
	color: #f44;
}

.invert {
	filter: invert();
}

.dimmed {
	opacity: 0.5;
}

.hidden {
	visibility:hidden;
}

.mouse-active {
	transition: filter 0.3s;
}

.mouse-active:hover {
	filter: brightness(200%);
	transition: filter 0.1s;
}

.mini {
	font-size: 8px;
	font-family: "MS Gothic", "Droid Sans Mono", "Courier";
}

h1 {
	font-size: 72px;
	font-family: "MS Gothic", "Droid Sans Mono", "Courier";
}

@keyframes disappear {
  from {
    filter: saturate(100%) brightness(100%) opacity(100%);
  }

  15% {
	filter: saturate(100%) brightness(400%) opacity(100%)
  }

  50% {
    filter: saturate(100%) brightness(100%) opacity(0%);
  }
}

.ignore-mouse {
	pointer-events: none;
}
