body {
    background-color: #444;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.panel {
    display: inline-flex;

    margin: 8px 8px 8px 8px;

    background-color: #114;
}

.panel .panel-inner {
    margin: 8px 8px 8px 8px;
}

.panel .panel-inner * {
    margin: 0;
    user-select: none;
}

.panel .panel-inner {
    font-family: "MS Gothic";
    font-size: 16px;
    color: white;

    background-color: #226;
}

.panel.item-info-overlay-panel {
    margin: 0;

    position: absolute;
    top: calc(16px * 26);
    left: calc(8px * 120);
}

.clickable:hover {
    background-color: rgb(48, 48, 48);
    filter: brightness(2);
}

.clickable:active {
    background-color: rgb(48, 48, 48);
    filter: brightness(4);
}

.shadow {
    text-shadow: 1px 1px black;
}

.line {
    display: block;
    white-space: pre;
}

.line.wrap {
    text-wrap: auto;
}

.stacked {
    display: grid;
}

.stacked * {
    grid-column: 1;
    grid-row: 1;
}

.line .bar {
    display: flex;
}

.line .bar * {
    white-space: pre;
}

.dimgrey {
    color:rgb(100, 100, 100);
    background-color: rgb(36, 18, 0);
}

.dimbrown {
    color:rgb(140, 96, 32);
    background-color: rgb(36, 18, 0);
}

.dimgreen {
    color:rgb(90, 160, 90);
    background-color: rgb(36, 18, 0);
}