
@font-face {
    font-family: "nec_apc";
    src: url("Web437_NEC_APC3_8x16.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    font-family: "nec_apc", 'Courier New', Courier, monospace;
    color: #ccc;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
	
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.content {
    text-align: center;    
}

.subtitle {

}

.subsubtitle {
    color: #888;
}

.links {
    position: fixed;
    bottom: 16px;

    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    color: #ccf;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}

a.disabled {
    color: #444;
    text-decoration: none;
}
